.App {
  text-align: center;
}

.shipsList {
  height: 100px;
  width: 100px;
  background-color: lightblue;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
}

.planetsList {
  height: 100px;
  width: 100px;
  background-color: lightgreen;
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
}

